---
- name: Install and configure glusterfs
  hosts: GlusterServers
  become: yes

  vars:
    volume_group_name: "cluster_vg"
    logical_volume_name: "linstore"
    thinpool_name: "linstore_thinpool"
    physical_volumes: "/dev/vdb"

  tasks:
    - name: Ensure home directory brick is present
      file:
        path: /data/homebrick
        owner: root
        group: root
        mode: '0777'
        state: directory

    - name: Ensure that glusterfs-server is present
      apt:
        name: glusterfs-server
        state: present
        update_cache: yes

    - name: Ensure gluster is started
      systemd:
        name: glusterd
        state: started

    - name: Create gluster volume for home directories
      gluster_volume:
        state: present
        volume: homedirs
        bricks: '/data/homebrick'
        transport: 'tcp'
        cluster: "{{ groups['GlusterServers'] }}"
        force: yes
      run_once: true

    - name: Add logical volume group
       lvg:
         vg: "{{ volume_group_name }}"
         pvs: "{{ physical_volumes }}"

    - name: Create logical volume
      lvol:
        vg: "{{ volume_group_name }}"
        lv: "{{ logical_volume_name }}"
        size: 10g
        thinpool: "{{ thinpool_name }}"
        resizefs: true